body{
background: black;
}

img {
  width: 300px;
  height: 200px;
}

h2{
  font-weight: lighter;
}

.color{
  color: black;
  font-size: 90px;
}

#brown{
  color: brown;
}

#red{
  color: red;
}

#orange{
  color: orange;
}

#yellow{
  color: yellow;
}

img {
    width: 100%; /* Image will scale to 100% of the container's width */
    height: auto; /* Height will adjust proportionally */
}